# Virtual environment
env/
.venv/

# Django files
db.sqlite3
*.log

# Python bytecode
*.pyo
__pycache__/
*.pyc

# Local settings and sensitive files
.env

# Static and media files
/static/
media/

# IDE and editor files
.idea/
.vscode/
*.sublime-*

# Build files
/build/
/dist/
/*.egg-info/

# Node modules (if applicable)
node_modules/

# OS-specific files
.DS_Store
Thumbs.db
